<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 16rem; height: 28rem">
                    <img style="height: 18rem;" class="card-img-top" src="/product-images/{{this._id}}.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.productName}}</h5>
                        <p class="card-text">{{this.productPrice}}</p>
                        <p class="card-text">{{this.productDescription}}</p>
                        <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
